.container {
    width: 90%;
    margin: 15px auto;
    border: 1px solid blue; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(206, 18, 121, 0.719); 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header img {
    width: 50px; /* Tamaño del logo */
}

.menu a {
    margin-right: 10px;
}

.slider {
    height: 150px;
    background-image: url('slider-image.jpg'); 
    background-size: cover;
}

.content {
    display: flex;
}

.footer {
    background-color: darkgray; 
    padding: 10px;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 10px;
}
